@use "../abstracts/mixin";
@use "../abstracts/variables";

.container {
    @include mixin.flex-col;
    max-width: none;

    .container__button {
        width: 14.7rem;
        height: 3.8rem;
        font-family: "George Rounded", Georgia, 'Times New Roman', Times, serif;
        color: #fff;
        border: none;
        border-radius: 5px;
        background-color: variables.$bg-darkgreen;
    }
    .container__button:hover {
        background-color: rgb(55, 127, 121);
    }
    .container__button:active {
        color: variables.$text-color; 
        background-color: variables.$bg-green; 
    }
    //FOR KATE (HEADER)
    // .container__button_small {
    // }
    .container__button_transparent {
        width: 11.8rem;
        height: 3.3rem;
        font-family: "Josefin Sans" 'Times New Roman', Times, serif;
        border: solid 1px;
    }
    .container__desc{
        color: variables.$text-color;
        font-family: "Alegreya Sans", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: variables.$fs-small;
        letter-spacing: 0.1%;
        line-height: 2rem;
        margin: 1rem 0 1rem 0;
    }
    .container__title {
        margin: 0;
        font-family: "Josefin Sans", 'Times New Roman', Times, serif;
        font-size: variables.$fs-xlarge;
    }
    .container__title-section {
        margin: 0;
        color: variables.$text-color;
        font-family: "Cedarville Cursive", cursive;
        font-size: variables.$fs-medium;
        text-align: left;
    }
    .container__title_h3 {
        font-size: variables.$fs-medium;
    }
    .container__title_h3-smaller{
        font-size: 2rem;
    }
    .container__title_rotate {
        text-wrap: nowrap;
        transform: rotate(-90deg);
        transform-box: fill-box;
        position: absolute;
        z-index: 2;
    }
    .container__socials {
        margin-left: 2.8rem;
        align-self: flex-end;
        display: grid;
        grid-template-rows: repeat(3, 2rem) 7.5rem;
        justify-content: end;
        align-content: end;
        gap: 1rem;
        box-sizing: border-box;
    }
    .container__icon-socials {
        width: 2rem;
        height: 2rem;
        fill: variables.$text-color; 
    }
    .container__icon-socials:hover{
        fill: variables.$bg-darkgreen;
    }
    .container__icon-socials:active{
        fill: variables.$bg-green; 
    }
    .container__wrap-text-socials {
        position: relative;
    }
    .container__text-socials {
        margin: 0;
        position: absolute;
        z-index: 2;
        left:-2.7rem;
        top: 2.8rem;
        color: variables.$text-color;
    }
    
}