@use "../abstracts/mixin";
@use "../abstracts/variables";

.footer {
	// @include mixin.flex-col; 
	@include mixin.layout;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* .footer__map */

	&__map {}

	/* .footer__contacts */

	&__contacts {}

	/* .footer__address */

	&__address {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.container {
	&__title {}

	&__desc {}
}

.container {

	&__button {

		&_transparent {
			width: 11.8rem;
			height: 3.3rem;
			background: rgba(255, 255, 255, 1);
			display: none;
		}
	}
}


@media screen and (max-width:750px) {

	.container {
		&__button {
			&_transparent {}
		}
	}

	.footer {
		flex-direction: column;
	}

	.footer {

		/* .footer__contacts */

		&__contacts {}
	}

	.container {
		&__title-section {}

		&__title {
			&_h3 {
				display: none;
			}

			&_rotate {}
		}
	}
}