@use "../abstracts/mixin";
@use "../abstracts/variables";

.section-promotion {
    @include mixin.layout;
    @include mixin.layout-section; 
    margin-top: 10.5rem;/*168px*/

    .section-promotion__wrap-left {
        @include mixin.text-box;     
    }
    .section-promotion__wrap-right {
            @include mixin.wrap-img;
        }

    .section-promotion__img {
        @include mixin.img;
        object-fit: contain;
        width: 14.75rem;/*236px*/
        height: 20rem;/*320px*/
        top: -1.5rem;
        left: 4.5rem;
    }
    .section-promotion__title {
        top: 1.5rem;
        left: 19.5rem;
    }
        
    @media screen and (max-width: 1330px) {
            flex-direction: column-reverse;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            padding-right: 0;
            gap: 2rem;
            
            .section-promotion__wrap-left{
                max-width: none;
            }
            .section-promotion__title {
                display: none;
            }
            .section-promotion_btn {
                display: none;
            }
    }
        
    }


