@use "../abstracts/mixin";
@use "../abstracts/variables";

.section-home {
    @include mixin.layout;
    margin-right: variables.$fs-medium;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: space-between;
    margin-top: 63px;

    .section-home__wrap-1 {
        @include mixin.flex-col;
        margin: 6.6rem 0 8.6rem 0;
        justify-content: center; 
        gap: 1.5rem;   
    }
    .section-home__wrap-2 {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .section-home__btn {
        width: 9.9rem;
        height: 9.8rem;
        border: none;
        background: rgb(227, 235, 231);
        opacity: 0.4;
    }
    .section-home__btn:hover {
        transform: rotate(360deg);
        transition: all 0.5s ease-in-out;
    }
    .section-home__wrap-img {
        background-color: variables.$bg-green;
        width: 25.63rem;
        height: 29.2rem;
        position: relative;
        z-index: 1;
    }
    .section-home__wrap-img_transparent {
        width: 84%;
        height: 79.8%;
        position: absolute;
        z-index: 2;
        top: 8.75rem;
        left: 2.1rem;
        right: 2.1rem;
    }
    .section-home__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}