@use "../abstracts/mixin";
@use "../abstracts/variables";

.section-about-us {
    @include mixin.layout;
    @include mixin.layout-section; 

    .section-about-us__wrap-left {
        position: relative;
    }
    .section-about-us__title {
        top: 1.5rem;
        left: -2.7rem;
    }
    .section-about-us__wrap-img {
        @include mixin.wrap-img;
        background-color: variables.$bg-peach;
        }
    .section-about-us__img {
        @include mixin.img;
        object-fit: contain;
        top: 4.9rem;/*78px*/
        left: 1.75rem;/*28px*/
    }
    .section-about-us__wrap-right {
        @include mixin.flex-col;
        @include mixin.text-box;     
    }

    @media screen and (max-width: 1330px) {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding-right: 0;
        gap: 2rem;
        margin: 6.9rem 1.5rem 0 1.5rem;

        .section-about-us__wrap-left {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: variables.$bg-peach;
        }
        .section-about-us__wrap-img {
            background-color: transparent;
        }
        .section-about-us__img {
            object-fit: cover;
            top: -2em;
            left: auto;
        }
        .section-about-us__wrap-right{
        max-width: none;
        }
        .section-about-us__title {
            display: none;
        }
        .section-promotion_btn {
            display: none;
        }
    }
}