@use "../abstracts/mixin";
@use "../abstracts/variables";

.section-contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 11rem;

    .section-contacts__wrap-map{
        width: 40.4rem; /*646px*/
        height: 21.9rem; /*351px*/
        border: 0;    
    } 
    .section-contacts__map{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0;    
    }

    .section-contacts__wrap-right{
        margin-top: variables.$fs-medium;
        display: flex;
        flex-direction: column;
    }  
    .section-contacts__img-btn {
        width: 1.2rem;
        height: 0.4rem;

    }  
    @media screen and (max-width:1307px){
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        .section-contacts__wrap-left {
            width: 100%; 
        }

        .section-contacts__wrap-map{
            width: 100%; 
            border: 0;    
        } 
        .section-contacts__map{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 0;    
        }
    }
} 



