@use "../abstracts/mixin";
@use "../abstracts/variables";

.section-promotion {
  @include mixin.max-w;

  .section-promotion__box {
    @include mixin.layout;
    @include mixin.layout-section; 
    margin-top: 10.5rem;/*168px*/
  }
  .section-promotion__wrap-left {
    @include mixin.text-box;     
  }
  .section-promotion__wrap-right {
    position: relative; 
  }
  .section-promotion__wrap-img {
    @include mixin.wrap-img;
  }
  .section-promotion__img {
    @include mixin.img;
    object-fit: contain;
    width: 14.75rem;/*236px*/
    height: 20rem;/*320px*/
    top: -1.5rem;
    left: 5.5rem;
  }
  .section-promotion__title {
    @include mixin.rotate;
    top: 1.5rem;
    left: 20.5rem;
  }
      
  @media screen and (max-width: 1230px) {
    .section-promotion__box {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      padding-right: 0;
      gap: 2rem;
    }
    .section-promotion__wrap-right {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: variables.$bg-green;
    }
    .section-promotion__wrap-img {
      width: 14.75rem;/*236px*/
      height: 20rem;/*320px*/
      background-color: transparent;
    }
    .section-promotion__img {
      object-fit: cover;
      top: -1rem;
      left: auto;
    }
    .section-promotion__wrap-left{
      max-width: none;
    }
    .section-promotion__title {
      display: none;
    }
    .section-promotion__btn {
      display: none;
    }
  }
  @media screen and (max-width: 920px) {
    .section-promotion__box {
      margin: 10rem 1.5rem 0 1.5rem;
    }
  }  
}


