@font-face {
    src: url(../fonts/AlegreyaSans-Regular.ttf);
    font-family: "Alegreya Sans";
}
@font-face {
    src: url(../fonts/CedarvilleCursive-Regular.ttf);
    font-family: "Cedarville Cursive";
}
@font-face {
    src: url(../fonts/GeorgeRounded-Regular.ttf);
    font-family: "George Rounded";
}
@font-face {
    src: url(../fonts/JosefinSans-Bold.ttf);
    font-family: "Josefin Sans";
    font-weight: 700;
}
@font-face {
    src: url(../fonts/JosefinSans-Regular.ttf);
    font-family: "Josefin Sans";
    font-weight: 400;
}