$fs-xlarge: 3.9rem; /* 63px*/
$fs-large: 2.4rem; /* 38px*/
$fs-medium: 1.75rem; /* 28px*/
$fs-small: 1.2rem; /* 19px*/
$text-color: rgb(68, 74, 74);
$bg-green: rgb(227, 235, 231);
$bg-darkgreen: rgb(45, 99, 94);
$bg-peach: rgb(250, 233, 224);